:root {
    --blue: #2874A6;
    --white: #FFFFFF;
}

html,
body {
/*    margin: 0px;
    height: 100%;
*/}

html {
    /*font-size: 12px;*/
    /*position: relative;*/
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*MENU*/
#nav-color li a {
    color: white;
    letter-spacing: 1px;
    font-size: 1em;
    text-transform: uppercase;
}
#nav-color li a:hover {
    color: rgba(30, 144, 255, .5);
 }

#color-bg {
    background-color: var(--blue);
}

ul.sub {
    text-align: center;
    display: none;
    padding: 0;
    list-style: none;
}

