@{
    ViewData["Title"] = "Auxiliar do draft";
}

@section Scripts {
    <script src="~/js/draft/draft-script.js"></script>
}
    
@section Styles {
    <link rel="stylesheet" href="~/css/draft/draft-style.css" />
}
    

    <h1 class="awaken-teste1">titulo</h1>

<div class="text-center">
auxiliar do draft
</div>